# Build
build
tmp
example/build
example/tmp
### test executable
built-example

# Logs
logs
*.log

# Env
.env

# Tests
*.test.exe
__debug_*.exe

# Debugging
### atomicstyle
atomicstyle/output.css
atomicstyle/trie_dump.txt


# Other
.DS_Store
