# build
build
tmp
example/build
example/tmp
built-example

# logs
logs
*.log

# env
.env

# tests
*.test.exe
__debug_*.exe
# -- atomicstyle
atomicstyle/output.css
atomicstyle/trie_dump.txt


# other
.DS_Store
